
  
                  <!-- ========   Change your logo from here   ============ --> <img src="bot daddy final logo (3).png" class="img-fluid logo-lg" alt="logo">
               
                        /assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar wid-45 rounded-circle"></div>
                   
" class="igm" src="../assets/bot daddy final logo (3).png"  />
               img style="width: 50px;" src="new.gif" 

                  <img src="../assets/images/layout/img-announcement-1.png" alt="img" class="img-fluid mb-3">
                
                  <a href="https://1.envato.market/zNkqj6" target="_blank"><img src="../assets/images/layout/img-announcement-2.png" alt="img" class="img-fluid"></a>
        
                  <img src="../assets/images/layout/img-announcement-3.png" alt="img" class="img-fluid">
               
                  <img src="../assets/images/layout/img-announcement-4.png" alt="img" class="img-fluid">
               
<img s.png" style="height: 100px;   width: 100px;">


<img src="actiwallet.png" style="height: 100px;   width: 100px;">
<img src="1.png" style="height: 100px;   width: 100px;">
<img src="2.png" style="height: 100px;   width: 100px;">
<!--<p>Pending</p>-->
<img src="3.png" style="height: 100px;   width: 100px;">
<img src="4.png" style="height: 100px;   width: 100px;">
<img src="bot%20daddy%20final%20logo%20(3).png"  style="height: 35px;    margin-bottom: 10px;"/>
<img src="../assets/images/customizer/caption-on.svg" alt="img" class="img-fluid"> </a><a href="#!" data-bs-toggle="tooltip" title="Horizontal" data-value="horizontal"><
img src="../assets/images/customizer/horizontal.svg" alt="img" class="img-fluid"> </a><a href="#!" data-bs-toggle="tooltip" title="Color Header" data-value="color-header">
<img src="../assets/images/customizer/color-header.svg" alt="img" class="img-fluid"> </a><a href="#!" data-bs-toggle="tooltip" title="Compact" data-value="compact">
    <img src="../assets/images/customizer/compact.svg" alt="img" class="img-fluid"> </a><a href="#!" data-bs-toggle="tooltip" title="Tab" data-value="tab">
        <img src="../assets/images/customizer/tab.svg" alt="img" class="img-fluid"></a></div>
        <img src="../assets/images/customizer/caption-on.svg" alt="img" class="img-fluid"></button></div>                    </div>
             <img src="../assets/images/customizer/caption-off.svg" alt="img" class="img-fluid"></button></div>
            ><img src="../assets/images/customizer/ltr.svg" alt="img" class="img-fluid"></button></div>
            <img src="../assets/images/customizer/rtl.svg" alt="img" class="img-fluid"></button></div>
                <img src="../assets/images/customizer/full.svg" alt="img" class="img-fluid"></button></div>
             <img src="../assets/images/customizer/fixed.svg" alt="img" class="img-fluid"></button></div>
                    